body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #1c2d3d 0%, #3b536c 100%);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  block-size: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#AMPLogo {
  position: fixed;
  inset-block-end: 0;
  inset-inline-end: 0;
  padding: 16px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%);
  inline-size: 128px;
  max-inline-size: 100%;
  cursor: pointer;
}
#AMPLogo:hover {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 70%);
}
#AMPLogo:active {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%);
}
.d-none {
  display: none;
}
.ServerInfo {
  z-index: 10;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(135,21,119,1) 43%, rgba(101,21,71,1) 100%);
  color: white;
  max-inline-size: 95%;
  margin-block-start: -64px;
}
.ServerInfo a {
  color: rgba(255, 255, 255, 0.75);
}
.ServerInfo a:hover {
  color: #ffffff;
}
.ServerInfo a:visited {
  color: rgba(255, 255, 255, 0.75);
}
.ServerInfo a:active {
  color: rgba(255, 255, 255, 0.75);
}
.ServerInfo .BannerImage {
  inline-size: 460px;
  block-size: 215px;
  inline-size: 100%;
}
.ServerInfo h1,
.ServerInfo .ServerName {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 100;
  font-size: 16pt;
}
.ServerInfo h2,
.ServerInfo .ServerDescription,
.ServerInfo .ServerRules {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 12pt;
}
.ServerInfo p {
  margin: 0 0 16px 0;
}
.ServerInfo .InfoHeader {
  /* .BannerImage is a full width image in the background, .HeaderLines overlays the banner image, sticking to the bottom of it regardless of the image height */
  position: relative;
  display: flex;
  flex-direction: column;
}
.ServerInfo .InfoHeader .HeaderLines {
  position: absolute;
  inset-block-end: 0px;
  inset-inline-start: 0px;
  padding: 16px;
  inline-size: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 50%);
}
.ServerInfo .InfoHeader .HeaderLines h1,
.ServerInfo .InfoHeader .HeaderLines h2 {
  text-shadow: 0 4px 4px #000000;
}
.ServerInfo .InfoHeader .HeaderLines h2 {
  margin-block-end: 0;
  color: rgba(255, 255, 255, 0.8);
}
.ServerInfo .InfoStatus {
  position: absolute;
  inset-block-start: 16px;
  inset-inline-end: 16px;
  background-color: green;
  color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 0 0 8px;
  font-size: 12pt;
  font-weight: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.ServerInfo .InfoStatus div {
  margin-inline-start: 8px;
}
.ServerInfo .InfoBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  inline-size: 460px;
  max-inline-size: 100%;
  box-sizing: border-box;
}
.ServerInfo .InfoBody .ServerInfoLines {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}
.ServerInfo .InfoBody .ServerInfoLines .Line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ServerInfo .InfoBody .ServerInfoLines .Line .material-symbols-outlined {
  margin-inline-end: 8px;
}
.ServerInfo hr {
  background: rgba(255, 255, 255, 0.1);
  block-size: 1px;
  margin: 0;
  padding: 0;
  border: none;
}
.ServerInfo .InfoActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  grid-gap: 8px;
}
.ServerInfo .InfoActions .JoinDiscord {
  background-color: rgb(88, 0, 88);
}
.ServerInfo .InfoActions .JoinDiscord:hover {
  background-color: #800080;
}
.ServerInfo .InfoActions button,
.ServerInfo .InfoActions a {
  background: rgb(88, 0, 88);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
}
.ServerInfo .InfoActions button .material-symbols-outlined,
.ServerInfo .InfoActions a .material-symbols-outlined {
  margin-inline-end: 8px;
}
.ServerInfo .InfoActions button:hover,
.ServerInfo .InfoActions a:hover {
  background: #800080;
}
.ServerInfo .InfoActions button:active,
.ServerInfo .InfoActions a:active {
  transition: none;
  background: #700086;
}
.ServerInfo .InfoActions button:visited,
.ServerInfo .InfoActions a:visited {
  color: white;
}