/*
Screwed Purple theme by Jaiden W
Updated 2022/05/05
Obey The Fist!
*/



/*Background image/color*/
@keyframes gradient { 0% { background-position: 0% 50%; } 50% {background-position: 100% 50%; }	100% {background-position: 0% 50%; } }
#tab_ADSModule_Instances, #mainBody, .bodyTab { background:none!important; }
html { background-image:url("Images/oriental-tiles.png")!important; }
body {
    background: linear-gradient(-45deg, #2f005fAA, #37006fBB, #430088AA, #2f005fAA)!important;
	background-size: 400% 400%!important;
	animation: gradient 15s ease infinite;
}

  /*Scroll Bar*/
div ::-webkit-scrollbar { width: 5px; background-color: #20023e;}
div ::-webkit-scrollbar-thumb { width: 5px; background-color: #8000ff; }
div ::-webkit-scrollbar-thumb:hover { background-color: #952efb; }

  /*Buttons/links*/
a { color: #fbff00; }
a:hover { color: #ffffff; }
.bgGreen { background-color: #8000ff; border: 1px solid #8000ff; }
.bgGreen:hover { background-color: #bc78ff; }

/*login box*/
#loginContainer {
    position: absolute;
    right: 64px;
    width: 400px;
    box-sizing: border-box;
    background-color: #8000ff69;
    padding: 32px 32px 32px 32px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 50%);
    min-height: 690px;
}
/*Side Menu*/
#sideMenuContainer, .subMenuWell { background: linear-gradient(180deg,#333333 50%, #222222); }
#barTop #tabInfo { margin-left: 16px; color: #a041ff; }
#barTop, #barBottom, #userInfo, #userInfo:hover { background-color: #333333; }
#sideMenu a.selected { border-right: 4px solid #8000ff; }
.menuTitle {
    font-family: "roboto-light", "Segoe UI Light", "Segoe UI", Calibri, Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-weight: bolder;
    color: #a041ff;
    font-size: 24pt;
    padding: 20px 16px 20px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}
#sideMenu a img {
    width: 24px;
    height: 24px;
    padding: 12px 0.5em 12px 0;
    float: left;
    filter: invert(20%) sepia(52%) saturate(888) hue-rotate(270deg) brightness(130%) contrast(173%);
}
#sideMenu a {
    font-family: "roboto-light", "Segoe UI Light", "Segoe UI", Calibri, Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-weight: bold;
    font-size: 130%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    padding: 0.1em 1em 0.1em 0.7em;
    color: #fff;
    vertical-align: middle;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.25s, width 0.25s;
}

/*Scheduled tasks*/
.scheduleTriggerInfo {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #8000ff;
    margin-top: 8px;
    background-color: #31075c;
    overflow: hidden;
}
.scheduleTriggerDescription {
    background-color: #8000ff;
    padding: 8px;
    color: ;
}
.scheduleTriggerHeaderItem .scheduleHeader {
    color: #FFF;
    font-weight: 800;
}
.scheduleTriggerTaskDropper {
    float: right;
    background-color: #00000045;
    height: 40px;
    margin: -8px -8px 0 0;
    border-radius: 0 0 0 4px;
    border: 1px solid #b571f9;
    border-top: none;
    border-right: none;
    overflow: hidden;
}

/*Toast*/
.ThirdPartyNotice {
    float: left;
    padding: 64px;
    z-index: 1;
    position: absolute;
    background-color: rgb(27, 16, 34);
    height: 100%;
    box-sizing: border-box;
}
.notificationProgessContainer {
    width: 100%;
    height: 16px;
    border: 1px solid #8000ff;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
}
.notificationProgressBar {
    height: 100%;
    width: 0;
    background-color: #8000ff;
    transition: width 0.5s ease-in-out;
    margin-left: 0;
    overflow: visible;
    position: absolute;
}

/* Server Entry*/
.ServerGroup.Online .ServerGroupHeader { background: linear-gradient(to right, #8000ff 0%, rgba(0, 0, 0, 0.3) 85%); }
.desktopContextMenu.desktopContextMenu .buttonListSeparator { border-bottom: 1px solid #8000ff!important; }
.desktopContextMenu { background: #290e44!important; border: 2px solid #8000ff; }
.ServerEntry .ServerEntryInfo tr { background:#00000088; }
.ServerEntry .ServerEntryInfo tr:nth-child(2n) { background: #00000038; }
.ServerEntry.NewServerEntry { background-color: #8000ff!important; text-align: center; }
.ServerEntry:hover { border: 1px solid #8000ff!important; }
.ServerEntryStatus.bgGreen { background-color: #6600cc; border: 1px solid #6d00da; }
.ServerEntryStatus.bgGreen:hover { background-color: #8000ff; }
.ServerGroup{ background: #00000061; }
.ServerEntry .ServerEntryImage {
    width: 100%;
    height: calc(100% - 25px);
    position: absolute;
    z-index: -1;
    background-size: cover;
    filter: brightness(0.55);
    background-color: #8000ffEE;
}
.wizardTab .wizardContents {
    background-color: #36006be3;
    border-bottom: 8px solid #8000ff;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 50%);
}
.wizardTab .wizardContents h2 {
    margin: -16px;
    padding: 8px 16px 8px 16px;
    width: 100%;
    background-color: #8000ff;
    margin-bottom: 16px;
}
.provisionSetting img {
    width: 98%;
    border: 1px solid #8000ff;
    box-shadow: 0px 0px 5px black;
}
.ServerGroup.Online .ServerGroupHeader {
    background: linear-gradient(to right, #8000ff 0%, #4b1a7b 85%)!important;
    border: 1px solid #8000ff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
}
.Platform-2, .Platform-1 {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 170px;
    filter: brightness(0.90);
}
.ServerEntry .ServerEntryHeader {
    background-color: #8000ffba!important;
    padding: 4px!important;
    margin: 4px!important;
    min-height: 0px!important;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    border: 3px solid #8000ff99;
}
.ServerEntry .ServerEntryHeader h4 {
    margin: 0;
    font-weight: 1000;
}

/*Graphs server display page*/
.DisplayMetric .DisplayMetricGraph { background: #00000047; }

/* Input checkbox slider*/
input[type=checkbox]:checked + span { background-color: #8000ff; }
input[type=checkbox]:checked + span::after { background-color: #333333; }
input[type=checkbox]:hover + span { border-color: #00000000; }
button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover { background-color: #8000ff; }
button, input[type=button], input[type=submit], .button {
    background-color: #01010247;
    color: white;
    font-family: "roboto-light", "Segoe UI Light", "Segoe UI", Calibri, Verdana, Geneva, "DejaVu Sans", sans-serif;
    font-weight: lighter;
    font-size: larger;
    border: 1px solid #8000ff;
    min-width: 96px;
    cursor: pointer;
    outline: none;
    height: 48px;
    margin-right: 8px;
    transition: background-color 0.3s;
    border-radius: 2px;
}


 /*loading*/
.loader {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(128, 0, 255, 0.2)!important;
    border-right: 1.1em solid #8000ff;
    border-bottom: 1.1em solid rgba(128, 0, 255, 0.2)!important;
    border-left: 1.1em solid #8000ff;
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
}

/*event time*/
.scheduleTriggerTask { padding: 8px; border-bottom: 1px solid #8000ff; }
.iconButton:hover { background-color: #0000004d; }
.iconButton:active { background-color: #8000ff; }
.timeSegment.selected { background-color: #8000ff; }
.timeSegment:hover { padding:10px; border:1px solid #8000ff; }
.timeSegment {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    box-sizing: border-box;
    padding: 4px;
    cursor: pointer;
    float: left;
    user-select: none;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
}

  /*file manager*/
.fmPathSegment:hover { background-color: #a858f7!important; }
.fmPathSegment:hover::after { border-left-color: #a858f7!important; }
.fileManagerEntry:hover { background: #8000ff61!important; }
.fmPathSegment::after {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid #8000ff!important;
    content: ' ';
    display: inline-block;
    float: right;
    position: relative;
    left: 10px;
}
.fmPathSegment {
    display: inline-block;
    cursor: pointer;
    font-size: 12pt;
    background-color: #8000ff!important;
    padding-left: 20px;
    line-height: 32px;
    margin-left: -4px;
}

/*settings box*/
.settingDescription { min-height:0px!important; color:white!important; }
.settingsGroup .groupBody .settingContainer {
    padding: 16px;
    border-radius: 5px;
    background-color: #00000061;
    box-shadow: inset 0 2px 4px rgb(255 255 255 / 5%), inset 0 -2px 4px rgb(0 0 0 / 20%), 0 4px 4px rgb(0 0 0 / 30%);
    border: 2px solid #8000ff99;
}
.settingsGroup .groupBody .settingContainer .settingWarning {
    font-size: 8pt;
    color: red;
    padding: 0px;
    margin-top: 25px;
}
.settingLabel  > label:first-of-type{
    margin-top:9px;
    margin-left:-20px!important;
}
.settingLabel  > div:first-of-type{
    margin: -10px -10px 0px -10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background: #8000ff;
}
